---
import { SITE } from '../consts';
---
<aside class="author-bio">
  <div class="author-avatar" aria-hidden="true">IP</div>
  <div class="author-text">
    <p class="author-name">Written by {SITE.author}</p>
    <p class="author-role">Privacy advocate, studying toward a career in cybersecurity</p>
    <p class="bio">
      I'm Iulian, and I see myself as a privacy advocate first. I started Stay Safe Guide
      after being scammed myself, which pushed me to learn how online security and privacy
      really work. I'm wary of big companies, social media and the data industry by default,
      because I think trust should be earned rather than assumed. And as the guides here keep
      saying, wanting privacy doesn't mean you have something to hide. It means not handing
      strangers more about you than they need. I'm studying and working toward a career in
      cybersecurity: I've passed CompTIA Security+ and Microsoft's SC-900, I'm working through
      SC-200, and I test what I write about in my own home lab.
    </p>
  </div>
</aside>
